<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" style="color:rgb(29, 172, 228)">Welcome {{user}}</a>
      </div>
      <ul class="nav navbar-nav text-right">
        <li class="active"><a (click)="logout()" style="color:rgb(228, 29, 29)"><span class="glyphicon glyphicon-log-out"></span>  Logout</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="jumbotron" style="margin:10px;">
          <h4 class="text-center">Register Complaint</h4>
          <form name="form" (ngSubmit)="f.form.valid && addComplaint(model)" #f="ngForm" novalidate>         
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control input-lg" [(ngModel)]="model.title" #title="ngModel" [ngClass]="{'is-invalid':f.submitted && title.invalid}" name="title" required  />
              <div *ngIf="f.submitted && title.invalid" class="invalid-feedback">
                <div *ngIf="title.errors.required" class="alert-danger">Title Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Description</label>
              <input type="text" class="form-control input-lg" [(ngModel)]="model.description" #description="ngModel" [ngClass]="{'is-invalid':f.submitted && description.invalid}" name="description" required  />
              <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
                <div *ngIf="description.errors.required" class="alert-danger">Description  is required</div>
              </div>
            </div>
            <div class="form-group">
                <label for="password">Status</label>
                <select class="form-control input-lg"  [(ngModel)]="model.status" #status="ngModel" [ngClass]="{'is-invalid':f.submitted && status.invalid}" name="status" required  >
                    <option>registered</option>
                    <option>pending</option>
                    <option>resolved</option>
                  </select>
                  <div *ngIf="f.submitted && status.invalid" class="invalid-feedback">
                <div *ngIf="status.errors.required" class="alert-danger">Status  is required</div>
              </div>
            </div>

            <div class="form-group">
                <div class="">
                    <div class="col-6">
                        <button class="btn btn-info btn-lg">Submit</button>
                    </div>
                </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
  
